<!-- header.html -->
<div class="logo">
  <img src="/images/CC_Logo.png" alt="Company image for logo">
  <a href="/index.html"> Computer<span class="highlight">Crafter</span></a>
</div>

<div class="header-right">
  <div id="loginButton" class="loginButton cart">
    <a id="mainLogin" href="/login/index.html" title="Login to your account">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" version="1.0">
      <circle cx="32" cy="20" r="12" />
      <path
        d="M48,58 C48,46.954305 39.045695,38 28,38 L36,38 C24.954305,38 16,46.954305 16,58 L48,58 Z"
      />
      </svg>
    </a>
  </div>
  <div class="accountPageButton cart hide">
    <a href="/account/index.html" title="Go to your account page">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" version="1.0">
        <circle cx="32" cy="20" r="12" />
        <path
          d="M48,58 C48,46.954305 39.045695,38 28,38 L36,38 C24.954305,38 16,46.954305 16,58 L48,58 Z"
        />
      </svg>
    </a>
  </div>
  <div class="cart">
    <a href="/cart/index.html" title="View your shopping cart">
      <svg xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:ns1="http://sozi.baierouge.fr" xmlns:cc="http://web.resource.org/cc/" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" id="Layer_1" xml:space="preserve" viewBox="0 0 90.321 100" version="1.0"
      >
        <path
          clip-rule="evenodd"
          d="m77.6 83.44v-6.752h-14.956v-3.862h25.388c0.911 0 1.65-0.747 1.65-1.667v-69.49c0-0.922-0.739-1.669-1.65-1.669h-86.062c-0.911 0-1.65 0.747-1.65 1.669v69.49c0 0.92 0.739 1.667 1.65 1.667h25.693v3.862h-14.943v6.752l-12.72 9.162v7.398h90.321v-7.398l-12.721-9.162zm-71.24-17.191v-60.208c0-0.795 0.636-1.44 1.417-1.44h74.127c0.781 0 1.417 0.646 1.417 1.44v60.208c0 0.796-0.636 1.438-1.417 1.438h-74.127c-0.781 0.001-1.417-0.642-1.417-1.438zm-1.916 26.029l11.458-8.204h58.518l11.443 8.204h-81.419z"
          fill-rule="evenodd"
        />
      </svg>
    </a>
  </div>
</div>